<!--<div style=" background-color: rgba(57, 120, 159, 100);">
    <p style="color: white;">
        <span style="padding: 3px;" class="fa fa-bookmark"></span>
        <a style="color: white;" {{bind-attr href="url"}}>{{name}}</a>
        <span style="padding: 3px; float: right;" class="fa fa-star"></span>
        <span style="padding: 3px; float: right; display: none" class="fa fa-star-o"></span>
        <span style="padding: 3px; float: right;" class="fa fa-edit"></span>
    </p>
</div>-->
<div style=" background-color: rgba(57, 120, 159, 100);">
    <p style="color: white;">
    <ol>
        <li class="file"><a href={{bind-attr href="url"}}> {{name}} </a>
        <input type="checkbox" id="star"><label for="star" class="star">&nbsp;</label>
         <span style="float: right;" class="fa fa-edit"></span>
        </li>
    </ol>
    </p>
</div>